<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.BaseTemplate" version="12.758.8" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.758.8" targetFramework="native1.12-tchmi" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics" version="19.0.0" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics.Meta" version="1.0.0" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnosticsControl" version="12.758.8" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EventLogger" version="19.0.0" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.758.8" targetFramework="native1.12-tchmi" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.758.8" targetFramework="native1.12-tchmi" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.PDFViewer" version="12.758.8" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.RecipeManagement" version="19.0.0" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.ResponsiveNavigation" version="12.758.8" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Vision" version="13.7.0" targetFramework="native1.12-tchmi" />
<package id="Microsoft.TypeScript.MSBuild" version="3.9.9" developmentDependency="true" />
</packages>