<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.BaseTemplate" version="12.760.48" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.760.48" targetFramework="native1.12-tchmi" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics" version="19.0.109" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics.Meta" version="1.1.109" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnosticsControl" version="12.760.48" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EventLogger" version="19.0.109" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.760.48" targetFramework="native1.12-tchmi" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.760.48" targetFramework="native1.12-tchmi" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.PDFViewer" version="12.760.48" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.RecipeManagement" version="19.0.109" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.ResponsiveNavigation" version="12.760.48" targetFramework="native1.12-tchmi" />
  <package id="Microsoft.TypeScript.MSBuild" version="5.3.1-rc" developmentDependency="true" targetFramework="native1.12-tchmi" />
</packages>