<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.BaseTemplate" version="14.3.133" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="14.3.133" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics" version="22.0.6818" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnosticsControl" version="14.3.133" />
  <package id="Beckhoff.TwinCAT.HMI.EventLogger" version="22.0.6818" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="14.3.178" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="14.3.133" allowedVersions="[,13.0)" />
  <package id="Beckhoff.TwinCAT.HMI.PDFViewer" version="14.3.133" />
  <package id="Beckhoff.TwinCAT.HMI.ResponsiveNavigation" version="14.3.133" />
  <package id="Beckhoff.TwinCAT.HMI.Server.Engineering" version="22.0.6818" />
</packages>